In [15]:
import pandas as pd
import sqlalchemy

In [16]:
cliente = pd.read_excel ('07022023 (1).xltx')

In [17]:
cliente

,data,cod_loja,cod_produto,descricao,qtde_vendas,valor_unitario,valor_total
0,2023-02-07,2,4411,CANJIQUINHA PACHA 500G,1.000,2.69,2.69
1,2023-02-07,2,104401,CANJIQUINHA PEREIRA 500G,1.000,2.39,2.39
2,2023-02-07,2,174992,PIPOCA MICRO PACHA NATURAL 100G,1.000,2.69,2.69
3,2023-02-07,2,175005,PIPOCA MICRO PACHA QUEIJO 100G,1.000,2.69,2.69
4,2023-02-07,2,361484,MILHO PIPOCA PACHA PREMIUM 500G,1.000,4.89,4.89
...,...,...,...,...,...,...,...
1684,2023-02-07,2,213226,TAPETE PANOSUL EMBORRACHADO 40X60M,1.000,22.99,22.99
1685,2023-02-07,2,227360,PASSADEIRA ARTESANAL UND,1.000,32.99,32.99
1686,2023-02-07,2,196048,FITA ADESIVA EMBALAGEM FINA 12X40,1.000,5.00,5.00
1687,2023-02-07,2,9928,BOBINA PICOTADA PLASTICO KG,1.803,29.98,54.07
1688,2023-02-07,2,193931,GLP BOTIJAO 13KG,3.000,115.90,347.70

In [18]:
engine = sqlalchemy.create_engine("postgresql://gestor02aws:gWxzF_xfxgestorsm@db-comercialoliveira.kikker.com.br:5432/kikker_production_comercialoliveira")

In [19]:
kikker = pd.read_sql("""select  sdm.movement_date as data,
		st.store_code as cod_loja,
        pd.code as cod_produto,
        pd.description AS descricao,
        round(sdm.actual_sales,3) as qtde_vendas,
        sdm.gross_sales_unit_price as valor_unitario,
        round(sdm.actual_sales * sdm.gross_sales_unit_price,2) as valor_total
from summarized_daily_movements as sdm
left join stores as st on (sdm.store_id = st.id)
left join products as pd on (sdm.product_id = pd.id)
--where sdm.business_group_id = '5ddca360-ae45-4fbe-a279-ab9da39f521c'
where sdm.movement_date between '2023-02-07' and '2023-02-07'
--and st.store_code = '113774'
and sdm.actual_sales <> 0
--AND pd.code <> 'None'
order by sdm.movement_date, pd.code;""", engine)

In [20]:
kikker

,data,cod_loja,cod_produto,descricao,qtde_vendas,valor_unitario,valor_total
0,2023-02-07,02,000383,SACOLIXOPOKLIXO100LTSC5,2.000,3.39,6.78
1,2023-02-07,02,000451,REFRIANTARCTICA350MLLATA,2.000,3.29,6.58
2,2023-02-07,02,000482,OLEOCAPILARATALAIA120ML,2.000,24.99,49.98
3,2023-02-07,02,000512,PADPAORECHEADOKG,0.342,25.99,8.89
4,2023-02-07,02,000642,PADTORTAANIVERSSARIOKG,0.244,39.90,9.74
...,...,...,...,...,...,...,...
1685,2023-02-07,02,361514,FAROFAPRONTAPACHABACON300G,1.000,3.99,3.99
1686,2023-02-07,02,361521,TAPIOCAPACHA500G,2.000,6.99,13.98
1687,2023-02-07,02,456562,GLADEAEROLAVANDA360ML,1.000,13.99,13.99
1688,2023-02-07,02,456647,MACSTAAMALIACOVOSGRAVATA500G,1.000,8.49,8.49
1689,2023-02-07,02,456715,MULTIUSOUAUDESENGLAV500ML,2.000,4.49,8.98

In [21]:
cliente.qtde_vendas=round(cliente.qtde_vendas,3)
cliente.valor_total=round(cliente.valor_total,2)
cliente.info()
#colocando a qtde vendas e valor total com valor maxino de decimais apÃ³s a virgula

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1689 entries, 0 to 1688
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data            1689 non-null   datetime64[ns]
 1   cod_loja        1689 non-null   int64
 2   cod_produto     1689 non-null   int64
 3   descricao       1689 non-null   object
 4   qtde_vendas     1689 non-null   float64
 5   valor_unitario  1689 non-null   float64
 6   valor_total     1689 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 92.5+ KB

In [22]:
kikker.valor_total=round(kikker.valor_total,2)
kikker.qtde_vendas=round(kikker.qtde_vendas,3)
kikker.data=kikker.data.astype('datetime64')
kikker.cod_loja=kikker.cod_loja.astype('int')
kikker.cod_produto=kikker.cod_produto.astype('int')
kikker.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data            1690 non-null   datetime64[ns]
 1   cod_loja        1690 non-null   int64
 2   cod_produto     1690 non-null   int64
 3   descricao       1690 non-null   object
 4   qtde_vendas     1690 non-null   float64
 5   valor_unitario  1690 non-null   float64
 6   valor_total     1690 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 92.5+ KB

In [23]:
t=pd.merge(kikker,cliente,how='outer',on=['data','cod_loja','cod_produto'])
#fazendo a junÃ§Ã£o das tabelas kikkes e cliente

In [24]:
t['dif_qtde']=t.qtde_vendas_x-t.qtde_vendas_y

In [25]:
t['dif_total']=t.valor_total_x-t.valor_total_y

In [26]:
t

,data,cod_loja,cod_produto,descricao_x,qtde_vendas_x,valor_unitario_x,valor_total_x,descricao_y,qtde_vendas_y,valor_unitario_y,valor_total_y,dif_qtde,dif_total
0,2023-02-07,2,383,SACOLIXOPOKLIXO100LTSC5,2.000,3.39,6.78,SACO LIXO POK LIXO 100LTS C5,2.000,3.39,6.78,0.0,0.00
1,2023-02-07,2,451,REFRIANTARCTICA350MLLATA,2.000,3.29,6.58,REFRI ANTARCTICA 350ML LATA,2.000,3.29,6.58,0.0,0.00
2,2023-02-07,2,482,OLEOCAPILARATALAIA120ML,2.000,24.99,49.98,OLEO CAPILAR ATALAIA 120ML,2.000,24.99,49.98,0.0,0.00
3,2023-02-07,2,512,PADPAORECHEADOKG,0.342,25.99,8.89,PAD PAO RECHEADO KG,0.342,25.96,8.88,0.0,0.01
4,2023-02-07,2,642,PADTORTAANIVERSSARIOKG,0.244,39.90,9.74,PAD TORTA ANIVERSSARIO KG,0.244,39.91,9.74,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1685,2023-02-07,2,361514,FAROFAPRONTAPACHABACON300G,1.000,3.99,3.99,FAROFA PRONTA PACHA BACON 300G,1.000,3.99,3.99,0.0,0.00
1686,2023-02-07,2,361521,TAPIOCAPACHA500G,2.000,6.99,13.98,TAPIOCA PACHA 500G,2.000,6.99,13.98,0.0,0.00
1687,2023-02-07,2,456562,GLADEAEROLAVANDA360ML,1.000,13.99,13.99,GLADE AERO LAVANDA 360ML,1.000,13.99,13.99,0.0,0.00
1688,2023-02-07,2,456647,MACSTAAMALIACOVOSGRAVATA500G,1.000,8.49,8.49,MAC STA AMALIA C OVOS GRAVATA 500G,1.000,8.49,8.49,0.0,0.00
1689,2023-02-07,2,456715,MULTIUSOUAUDESENGLAV500ML,2.000,4.49,8.98,MULTI USO UAU DESENG LAV 500ML,2.000,4.49,8.98,0.0,0.00

In [27]:
t=t[(t['dif_qtde']!=0)|(t['dif_total']!=0)|(t['dif_total'].isna())]

In [28]:
t.to_csv('validacao.csv',sep=';',index=False)